* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  width: 100%;
  overflow-x: hidden;
  background-color: #0d1b2a;
  color: #7ab3d4;
  line-height: 2;

  /* these make it crispy pixel-perfect */
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  font-smooth: never;
  image-rendering: pixelated;
}